{
  "extends": [
    "airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", { "code": 130 }],
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}